body {
    font-family: Roboto;
    background-color: aqua;
    color: bisque;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40pt;
}
